@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: black;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

nav ul a {
    color: white;
    text-decoration: none;
}

.toggle-button {
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeButton {
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.currencies {
    width: 100vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.currencyItems {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.currency {
    border: 1px black solid;
    border-radius: 10px;
    padding: 20px;
}

.currencypageImg {
    width: 100px;
    height: 100px;
} 

.currency-btn {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}

.cart {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.items {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}

.cartPlusAndMinus {
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    border: none;
}

.amountInput {
    margin: 0 10px;
    width: 50px;
}

.removeItem {
    padding: 5px 10px;
}

.removeItem:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
}

.checkout-btn {
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}

@media only screen and (max-width: 500px) {
    .currencies {
        flex-direction: column;
        margin-top: 10vh;
    }

    .toggle-button {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        width: 100vw;
        margin-bottom: 20px;
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
    }
}