@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    width: 92vw;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 4vw;
}

.navbar h1 {
    color: #FCD535;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 100vw;
    height: 56vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
}

.homeButton {
    background-color: #FCD535;
    padding: 10px;
}

.currencies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currencyItems {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.currency {
    border: 1px #FCD535 solid;
    padding: 20px;
}

.currencypageImg {
    width: 100px;
    height: 100px;
}

.currencyInput {
    width: 100px;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    align-items: center;
    background-color: #FCD535;
    height: 100vh;
}